@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    align-items: center;
    display: flex;
    background: #111;
    color: #888;
    flex-direction: column;
    font-family: 'Press Start 2P', monospace;
    font-size: 9px;
    justify-content: center;
    line-height: 14px;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

a {
    color: inherit;
}

.btn {
    background-color: #888;
    border: none;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 8px;
    font-size-adjust: none;
    height: 28px;
    line-height: 16px;
    padding: 6px 8px;
    text-decoration: none;
}
    button.btn {
        font-size: 7.7px;
    }
    .btn:last-child {
        margin-right: 0;
    }
    .btn:active, .btn:focus, .btn:hover {
        background-color: #333;
    }

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .btn-group + .btn {
        margin-left: 1rem;
    }

input, select {
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    color: #888;
    font-family: inherit;
    font-size: 8px;
    height: 28px;
    padding: 0 8px;
}
select {
    width: min-content;
}
    option {
        font-size: 12px;
    }
textarea {
    background: none;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #888;
    font-family: inherit;
    font-size: 8px;
    padding: 6px 8px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 600px;
}
    .header-title {
        color: #c23;
        font-size: 14px;
        line-height: 1.5rem;
        margin: 10px 12px 0 0;
    }
        .header-title-input {
            color: #c23;
        }
    .header-tools {
        display: flex;
    }

.mode-switch {
    background-color: #39e;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
}

.viewer {
    cursor: crosshair;
}

.editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 24px;
    width: calc(8 * 24px);
    text-align: left;
}

.tab {
    background: #333;
    border: none;
    border-radius: 5px 5px 0 0;
    color: #000;
    cursor: pointer;
    font-family: inherit;
    font-size: 8px;
    padding: 6px 8px;
}
    .tab[disabled] {
        background: #888;
    }

.colors-panel, .links-panel, .data-panel {
    display: none;
}
    .colors-tab[disabled] ~ .colors-panel {
        display: block;
    }
    .links-tab[disabled] ~ .links-panel {
        display: block;
    }
    .data-tab[disabled] ~ .data-panel {
        display: block;
    }

.palette {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 12px;
    padding: 0;
}

.palette-item {
    background-color: #333;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: cell;
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    width: 24px;
}
.palette-selected {
    border: 4px solid #111;
    line-height: 16px;
}

.link-empty {
    display: none;
}
.link-name {
    width: 150px;
}
.link-help {
    color: #333;
    font-size: 8px;
    margin: 0 0 12px 0;
}
.link-hint {
    height: 88px;
    margin-bottom: 0;
    resize: none;
    width: 100%;
}

#data-file {
    display: none;
}

.reader {
    width: 216px;
    margin-left: 24px;
}
    .reader-hint {
        background-color: #000;
        box-sizing: border-box;
        margin: 0 0 12px;
        padding: .5rem 1rem;
        width: 100%;
    }
    .reader-link .reader-hint:last-child::after {
        content: ' =>';
        color: #39e;
    }

.footer {
    max-width: 66ch;
}

.demo-link {
    color: #c23;
}

.edit-mode .play-tools,
.edit-mode .reader,
.edit-mode .header-title,
.play-mode .header-title-input,
.play-mode .header-tools,
.play-mode .editor {
    display: none;
}

.play-mode .viewer {
    cursor: default;
}
.play-mode .viewer-link {
    cursor: pointer;
}

.zoom-1-5 .header, .zoom-1-5 .container {
    width: 800px;
}
.zoom-1-5 .reader {
    width: 324px;
}

.zoom-2, .zoom-2 .btn, .zoom-2 button.btn, .zoom-2 input, .zoom-2 select,
.zoom-2 textarea, .zoom-2 .tab {
    font-size: 11px;
}
.zoom-2 .btn {
    height: 36px;
    line-height: 24px;
    padding: 6px 8px;
}
.zoom-2 .header, .zoom-2 .container {
    width: 1100px;
}
.zoom-2 .reader {
    width: 432px;
}
.zoom-2 .editor {
    width: calc(8 * 36px);
}
.zoom-2 .palette-item {
    height: 36px;
    width: 36px;
}
.zoom-2 .link-hint {
    height: 240px;
}
